<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="renderer" content="webkit" />
    <title>知乎</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="//static.zhihu.com/static/css/desktop/errors.css" />
    <link rel="shortcut icon" href="//static.zhihu.com/static/img/favicon.ico" />
</head>
<body>
<div class="page">
    <div class="error">
        <h1 class="header">
            <a href="/" class="logo">
                <!--<img src="//static.zhihu.com/static/img/logo_black_trans.png" srcset="//static.zhihu.com/static/img/logo_black_trans@2x.png 2x" alt="知乎">-->
            </a>
            Aiwen - 爱问
        </h1>
        <div class="content">
            <p>
                <strong>你的验证码为：</strong>
            </p>
            <p>为了你的账户安全，请避免泄漏验证码</p>
            <strong>$msg</strong>
            <hr>
            <p>
                <a href="http://localhost:8080">返回首页</a>
                <span>或者</span>
                <a href="javascript:;" id="js-history-back">返回上页</a>
            </p>
        </div>
    </div>
</div>
<script src="//unpkg.zhimg.com/za-js-sdk@latest/dist/zap.js"></script>
<script src="//static.zhihu.com/static/js/desktop/404.js"></script>
</body>
</html>
